<?xml version="1.0"?>
<config>
	<modules>
		<Inneuron_Ilogin>
			<version>1.0.0</version>
		</Inneuron_Ilogin>
	</modules>
    <frontend>
		<routers>
			<ilogin>
				<use>standard</use>
				<args>
					<module>Inneuron_Ilogin</module>
					<frontName>ilogin</frontName>
				</args>
			</ilogin>
		</routers>
		<layout>
			<updates>
				<ilogin>
					<file>ilogin.xml</file>
				</ilogin>
			</updates>
		</layout>
    </frontend>
	<global>
		<blocks>
			<ilogin>
				<class>Inneuron_Ilogin_Block</class>
			</ilogin>
		</blocks>
	</global>
</config>